@charset "UTF-8";

body {
  min-width: 1200px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header {
  width: 100%;
  height: 47px;
  position: fixed;
  background-color: #fafafb;
  /* border: 1px solid red; */
  -webkit-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.75);
  z-index: 3;
}

.header__wrap {
  width: 1200px;
  height: 47px;
  margin: 0 auto;
  overflow: hidden;
}

.header__logo {
  width: 150px;
  height: inherit;
  padding: 0 8px;
  float: left;
  background-size: 95%;
  background-image: url("sprites.svg?v=fcc0ea44ba27");
  background-repeat: no-repeat;
  z-index: 10;
  /* border: 1px solid red; */
}

.header__logo > a {
  height: inherit;
  display: block;
}

.header__logo:hover {
  background-color: #ddd;
}

.header__gnb {
  width: 282px;
  height: 32px;
  line-height: 20px;
  margin: 8px auto auto 5px;
  float: left;
}

.header__gnb > li {
  height: 20px;
  padding: 6px 16px;
  float: left;
  font-size: 0.8em;
  /* border: 1px solid red; */
}

.header__gnb > li:hover {
  background-color: #ddd;
  border-radius: 20px;
}

.header__service {
  width: 725px;
  margin-top: 9px;
  float: left;
  /* border: 1px solid red; */
}

.header__search {
  width: 575px;
  height: 30px;
  float: left;
  border: 0.5px solid #bbb;
  border-radius: 3px;
  position: relative;
  /* border: 1px solid red; */
}

.header__search-icon-column {
  width: 22px;
  height: inherit;
  display: inline-block;
  text-align: right;
  line-height: 30px;
  /* background-color: red; */
}

.header__search-icon-column i {
  opacity: 0.3;
}

.header__search > input[type="search"] {
  width: 535px;
  height: 18px;
  top: -1px;
  line-height: 18px;
  /* background-color: red; */
  border: none;
  opacity: 0.8;
  position: relative;
}

.header__search > input[type="search"]:focus {
  outline: none;
}

.header__search:focus-within {
  -webkit-box-shadow: 0px 0px 11px 9px rgba(213, 235, 252, 1);
  -moz-box-shadow: 0px 0px 11px 9px rgba(213, 235, 252, 1);
  box-shadow: 0px 0px 11px 9px rgba(213, 235, 252, 1);
}

.header__user-dashboard {
  width: 140px;
  float: right;
  text-align: center;
  /* border: 1px solid red; */
}

.header__user-dashboard > a {
  width: 58px;
  display: inline-block;
}
