@charset "UTF-8";

.right-nav {
  width: 300px;
  margin-left: 20px;
  float: right;
}

.right-nav__board {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.05),
    0 2px 8px rgba(0, 0, 0, 0.05);
}

.right-nav__board > li {
  max-height: 70px;
  padding: 12px 15px;
  background-color: rgb(241, 230, 192);
  font-size: 0.8em;
  box-sizing: border-box;
  border-bottom: 1px solid #e9d08a;
}

.right-nav__board > .right-nav__title {
  opacity: 0.7;
  font-weight: bold;
  font-size: 0.75em;
}

.right-nav__board > li:not(.right-nav__title) {
  background-color: #fef7e4;
  display: flex;
}

.right-nav__board > li:not(.right-nav__title) > .right-nav__icon-column {
  width: 16px;
  height: 16px;
  /* line-height: 20px; */
  text-align: center;
}

.right-nav__board
  > li:not(.right-nav__title)
  > .right-nav__icon-column
  i.fa-clipboard {
  color: #0095ff;
}

.right-nav__board > li:not(.right-nav__title) > .right-nav__anchor-column {
  width: 240px;
  margin-left: 10px;
}

.right-nav__board > li:not(.right-nav__title) > .right-nav__anchor-column > a {
  width: 100%;
  max-height: 48px;
  display: inline-block;
  word-wrap: break-word;
  color: #000;
  line-height: 16px;
  overflow: hidden;
}

.related-tags {
  margin-top: 20px;
}

.related-tags__title {
  font-size: 1.2em;
}

.related-tags > ul {
  margin-top: 20px;
}

.related-tags__language {
  height: 20px;
  padding: 4px;
  margin-bottom: 10px;
  display: inline-block;
  line-height: 12px;
  font-size: 0.7em;
  color: rgb(96, 82, 221);
  background-color: #d1e5f1;
  border-radius: 3px;
  box-sizing: border-box;
}

.related-tags__count {
  margin-left: 7px;
  font-size: 0.7em;
}

.hot-questions {
  margin-top: 20px;
}

.hot-questions__title {
  font-size: 1.2em;
}

.hot-questions > ul {
  margin-top: 20px;
}
.hot-questions__icon-column {
  width: 16px;
  height: 16px;
  margin-top: 3px;
  float: left;
  background-image: url("https://cdn.sstatic.net/Img/favicons-sprite16.png?v=0a677f39f988");
}

.hot-questions__anchor-column {
  width: 270px;
  font-size: 0.8em;
  line-height: 15px;
  display: inline-block;
  margin: auto auto 15px 6px;
}

.hot-questions__anchor-column > a {
  color: rgb(96, 82, 221);
  font-size: 0.95em;
}

li:nth-child(1) .hot-questions__icon-column {
  background-position: 0 -1116px;
}

li:nth-child(2) .hot-questions__icon-column {
  background-position: 0 -2124px;
}

li:nth-child(3) .hot-questions__icon-column {
  background-position: 0 -2052px;
}

li:nth-child(4) .hot-questions__icon-column {
  background-position: 0 -6786px;
}

li:nth-child(5) .hot-questions__icon-column {
  background-position: 0 -6210px;
}

li:nth-child(6) .hot-questions__icon-column {
  background-position: 0 -4716px;
}

li:nth-child(7) .hot-questions__icon-column {
  background-position: 0 -5508px;
}

li:nth-child(8) .hot-questions__icon-column {
  background-position: 0 -3816px;
}

li:nth-child(9) .hot-questions__icon-column {
  background-position: 0 -6318px;
}

li:nth-child(10) .hot-questions__icon-column {
  background-position: 0 -6750px;
}
