@charset "UTF-8";

.qna {
  padding: 20px;
  float: left;
  border-left: 0.5px solid #ccc;
  /* background-color: darkgray; */
}

.qna::after {
  content: "";
  display: block;
  clear: both;
}

.qna__column:first-child {
  width: 650px;
  /* border: 1px solid orange; */
  float: left;
}

.qna__title::after {
  content: "";
  display: block;
  clear: both;
}

.qna__title > h1 {
  font-size: 26px;
  margin-top: 3px;
  display: inline-block;
}

.qna__title > a {
  width: 100px;
  display: block;
  float: right;
}

.btn {
  height: 40px;
  line-height: 40px;
  font-size: 0.9em;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  background-color: #0095ff;
}

.btn--blue-small {
  height: 28px;
  line-height: 28px;
  font-size: 0.8em;
  text-align: center;
  border-radius: 2px;
  color: #fff;
  background-color: #0095ff;
}

.btn--white-small {
  height: 28px;
  line-height: 28px;
  font-size: 0.8em;
  text-align: center;
  border: 0.5px solid #0095ff;
  border-radius: 2px;
  color: #437aa2;
  background-color: #e1ecf4;
}

.qna__sub-title {
  margin-top: 25px;
  padding-bottom: 25px;
  border-bottom: 0.5px solid #ccc;
}

.qna__filters {
  display: block;
  float: right;
}

.qna__question-num {
  display: inline-block;
  margin-top: 5px;
}

.qna__filters > ul {
  width: 185px;
  height: 35px;
  line-height: 10px;
  text-align: center;
  float: left;
}

.qna__filters > ul::after {
  content: "";
  display: block;
  clear: both;
}

.qna__filters > ul > li {
  float: left;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #535353;
  border-right: none;
  font-size: 0.9em;
}

.qna__filters > ul > li:first-child {
  width: 45px;
  border-radius: 4px 0 0 4px;
}

.qna__filters > ul > li:last-child {
  border-right: 1px solid #535353;
  border-radius: 0 4px 4px 0;
}

.qna__filter-btn {
  width: 60px;
  margin-left: 15px;
  display: block;
  float: right;
}

.btn--gray-small {
  width: 75px;
  height: 32px;
  line-height: 10px;
  font-size: 0.9em;
  border-radius: 4px;
  color: #044472;
  border: 0.5px solid #ccc;
  background-color: #b3d3ea;
}

.btn--gray-small:focus {
  outline: none;
}

.btn--gray-small span {
  font-size: 0.9em;
}

.summary {
  height: 150px;
  margin-top: 5px;
  padding: 10px 3px 0;
  /* border: 1px solid green; */
  border-bottom: 0.5px solid #ccc;
}

.summary__rating-column {
  width: 58px;
  height: inherit;
  float: left;
}

.summary__rating-column > div {
  text-align: center;
}

.summary__rating-column > div:not(:last-child) > span:nth-child(1) {
  display: block;
  font-size: 1.1em;
}

.summary__rating-column > div > span:last-child {
  display: block;
  margin-bottom: 15px;
  font-size: 0.7em;
}

.summary__row {
  width: 570px;
  height: inherit;
  float: right;
}

.summary__content {
  max-height: 68px;
  margin-top: 7px;
  display: block;
  font-size: 0.8em;
  line-height: 16px;
  word-wrap: break-word;
}

.summary__content::after {
  content: "";
  display: block;
  clear: both;
}

.summary__tags {
  display: inline-block;
}

.summary__tags > ul {
  height: 23px;
  line-height: 18px;
}

.summary__tags > ul > li {
  float: left;
  margin-top: 8px;
  margin-right: 10px;
  padding: 2px;
  font-size: 0.8em;
  background-color: #e0ecf4;
  color: #39739d;
  border-radius: 2px;
}

.summary__writer-info {
  margin-top: 10px;
  float: right;
  width: 200px;
}

.summary__ask-date {
  font-size: 0.7em;
  margin-bottom: 3px;
}

.summary__user-info {
  position: relative;
}
.summary__user-info > img {
  border-radius: 3px;
}

.summary__nickname {
  position: absolute;
  top: 3px;
  left: 40px;
  font-size: 0.7em;
}

.summary__reputation {
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 0.7em;
  background-image: url();
}

.summary__reputation > span:first-child {
  font-weight: bold;
}

.summary__reputation [class^="badge"] {
  margin-left: 3px;
  width: 7px;
  height: 7px;
  display: inline-block;
  background-image: url("https://cdn.sstatic.net/Img/unified/sprites.png?v=0786b22b9381");
}

.summary__reputation .badge1 {
  background-position: -102px -402px;
}

.summary__reputation .badge2 {
  background-position: -82px -402px;
}

.summary__reputation .badge3 {
  background-position: -62px -402px;
}

.qna__per-page {
  padding-top: 50px;
  float: right;
}

.qna__page-list {
  padding-top: 50px;
  float: left;
}

.qna__page-btn {
  min-width: 8px;
  height: 25px;
  padding: 2px 9px;
  font-size: 0.8em;
  line-height: 25px;
  border-radius: 4px;
  text-align: center;
  border: 0.5px #ccc solid;
  display: inline-block;
  background-color: #fff;
}

.qna__per-page > span,
.qna__page-list > span {
  margin: 0 10px;
  font-size: 0.8em;
  opacity: 0.8;
}

.qna__btn--current {
  background-color: #f48024;
  color: #fff;
  border-radius: 0px;
}
